<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laughingFace.microWash.ConnectionGuide">

    <application android:allowBackup="true" android:label="@string/app_name">
        <activity android:name="com.laughingFace.microWash.ConnectionGuide.ConnectGuideActivity"

           >

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter></activity>
    </application>

</manifest>
